.backImageInn{
    background-image: url("./../../../../public/Banner/ku2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



@media (max-width: 768px) {
    .backImageInn {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .bg-slate-200 {
        padding: 15px; /* Adjust padding for the card */
    }

    h2 {
        font-size: 1.5rem; /* Reduce font size for headings */
    }

    p {
        font-size: 1rem; /* Reduce font size for paragraphs */
    }
}
