@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  overflow-x: clip;
}
